spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/g1noticias
    username: g1user
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  task:
    scheduling:
      enabled: true

server:
  port: 8080